@model GV.DVDCentral.BL.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-2">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStkQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStkQty)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dd class="col-sm-10">
            <label asp-for="ImagePath" class="control-label"></label>
            <img class="imagepropmedium"
                 alt="@Model.Description"
                 id="programimage"
                 onclick="on('/images/@Model.ImagePath')"
                 src="~/images/@Model.ImagePath" />
            <input asp-for="ImagePath" class="form-control" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </dd>
    </dl>
</div>
<div class="m-2">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
